<!DOCTYPE html>
<html  ng-app="hungaroApp" >
    <head>
        <!--Import custom style.css -->
        <link type="text/css" rel="stylesheet" href="../../css/style.css"/>
        <!-- Import jQuery -->
        <script type="text/javascript" src="../../js/jquery-2.2.4.js"></script>
        <!-- Angular Material css -->
        <link rel="stylesheet" href="../../css/angular/angular-material.min.css">
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="../../js/angular/angular.min.js"></script>
        <script src="../../js/angular/angular-animate.min.js"></script>
        <script src="../../js/angular/angular-aria.min.js"></script>
        <script src="../../js/angular/angular-messages.min.js"></script>
        <!-- Angular Material Library -->
        <script src="../../js/angular/angular-material.min.js"></script>
        <script src="../../js/angular/angular-ui-router.min.js"></script>
        <!-- App module and controllers -->
        <script type="text/javascript" src="../../js/angular/myApp.module.js"></script>
        <script type="text/javascript" src="../../js/angular/home/controllers/HomeController.js"></script>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">
</head>
<body>
    <div>
        <div layout="column" style="height:600px" ng-cloak>
            <md-toolbar md-scroll-shrink ng-if="true" ng-controller="TitleController">
                <div class="md-toolbar-tools">
                    <h3>
                        <span>{{title}}</span>
                    </h3>
                </div>
            </md-toolbar>
            <md-content flex>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="item in todos">
                    <img ng-src="{{item.face}}" alt="{{item.who}}" class="md-avatar">
                    <div class="md-list-item-text">
                        <h3>{{item.what}}</h3>
                        <h4>{{item.who}}</h4>
                        <p>
                        {{item.notes}}
                        </p>
                    </div>
                    <md-divider inset></md-divider>
                </md-list-item>
            </md-list>
            </md-content>
        </div>
    <div ui-view autoscroll="false"></div>
