<title>Hungarian</title>

<md-content ng-cloack>
    <br/>
    <md-content class="md-padding hungaro-card">
      <div>
        <p>Hungarian result has been calculated! Algorithm iterations are shown below!</p> 
      </div>
    </md-content>
    
    <!-- first iteration -->
  <md-card class="hungaro-card">
      <!-- table title -->
      <md-toolbar class="md-table-toolbar md-accent">
        <div class="md-toolbar-tools">
            <span>First iteration</span>
        </div>
      </md-toolbar>
      <!-- Table content -->
      <md-table-container>
        <table md-table>
          <tbody md-body>
            <tr md-row md-select="row"  md-on-select="selectItem" ng-repeat="row in rows | limitTo: query.limit: (query.page - 1) * query.limit" md-select-id="{{$index}}">
              <td md-cell ng-repeat="data in row track by $index">{{data}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15, 20]" md-page="query.page" md-total="{{rows.length}}" md-page-select></md-table-pagination>
  </md-card>
</md-content>