<title>Húngaro</title>
<md-content>
    <br/>
      <md-card class="hungaro-card">
          <!-- Default toolbar -->
          <md-toolbar class="md-table-toolbar md-default" ng-show="!selected.length">
            <div class="md-toolbar-tools">
              <span>Iteration table</span>
              <span flex></span>
        			<md-menu>
        				<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="More">
        					<md-icon>more_vert</md-icon>
        				</md-button>
        				<md-menu-content>
        					<md-menu-item>
        						<md-button ng-click="setDimensions()">
        							<md-icon>settings</md-icon>
        							Set size
        						</md-button>
        					</md-menu-item>
        					<md-menu-item>
			              <md-button ng-click="addRow()">
                      <md-icon>add</md-icon>
                      Add row
                    </md-button>
        					</md-menu-item>
        					<md-menu-item>
			              <md-button ng-click="addRow()">
                      <md-icon>file_upload</md-icon>
                      Load data
                    </md-button>
        					</md-menu-item>
        				</md-menu-content>
        			</md-menu>
            </div>
          </md-toolbar>
          <!-- Remove row toolbar -->
          <md-toolbar class="md-table-toolbar md-accent" ng-show="selected.length">
            <div class="md-toolbar-tools">
              <span>Resource #{{selectedRow+1}} selected</span>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="deleteRow()">
                <md-icon ng-style="{color: '#ffffff'}">delete</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <!-- Table content -->
          <md-table-container>
            <table md-table md-row-select ng-model="selected">
              <thead md-head>
                <tr md-row>
                  <th md-column><span>Task 1</span></th>
                  <th md-column ><span>Task 2</span></th>
                  <th md-column >Task 3</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="row"  md-on-select="selectItem" ng-repeat="row in rows | limitTo: query.limit: (query.page - 1) * query.limit" md-select-id="{{$index}}">
                  <td md-cell ng-repeat="data in row">{{data}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
          
          <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15, 20]" md-page="query.page" md-total="{{rows.length}}" md-page-select></md-table-pagination>
      </md-card>
  </md-content>
  <br/>
  <div layout="row" layout-align="center center">
      <div>
        <md-button class="md-accent md-raised">Go Hungarian!</md-button>
      </div>
  </div>
  <!--
  <div layout="row">
    <md-input-container nd-repeat="i in newValues" class="md-block">
      <label>Columna {{$index+1}}</label>
      <input required type="number" step="any" ng-model="newValues[$index]"/>
    </md-input-container>
    
  </div>-->